* {
    /* Makes box sizing take padding and margins into account. */
    box-sizing: border-box;
    /* Sets default margin and padding to 0 */
    margin: 0;
    padding: 0;
    /* sets monospace as the default font for everything on the page */
    font-family: monospace;
    /* stops the page from scrolling vertically */
    overflow-y: auto;
    /* hides horizontal scroll unles specified further down the style sheet */
    overflow-x: hidden;
}
/* Targets anything with a class containing the box- in front. Used to give the sections an outline for layout debuggin etc */
[class ^= "box-"] {
    display: grid;
    place-items: center;
    border: solid 5px orangered;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    color: #00100B;
  }

body {
    background: linear-gradient(#ADEEE3, #F2BAC9);
    height: 100vh;
    font-size: 30px;
}

.container {
    height: 95vh;
    width: 90%;
    margin: 20px auto;
    
    display: grid;
    gap: 20px;
    
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

 .box-header {
     grid-column: 1 / 10;
     grid-row: 1 / 2;
     text-transform: uppercase;
 }

 .box-info {
    grid-column: 10 / 13;
    grid-row: 1 / 5;
}

.box-resources {
    grid-column: 10 / 13;
    grid-row: 5 / 12;
}

.box-blog {
    grid-column: 1 / 10;
    grid-row: 2 / 12;

    /* allows the blog window to be scrolled through so you can read older posts but hides the scroll when there is no content*/
    overflow: auto;

    /* hides the horizontal scrollbar */
    overflow-x: hidden;
}

.box-footer {
    grid-column: 1 / 13;
    grid-row: 12 / 13;
}